# Ignorar el entorno virtual de desarrollo
.venv/

# Ignorar el cache de pytest
.pytest_cache/

# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar carpetas de herramientas de MLOps que no son necesarias en producción
mlruns/
dvc.yaml
.dvc/